
<form method="POST" class="d-block ajaxForm" action="/portal/admin/teacher/edit/{{ teacher.id }}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <input type="hidden" name="school_id" value="1">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name = "name" value="{{ teacher.name }}" required>
            <small id="" class="form-text text-muted">Provide teacher name</small>
        </div>

        <div class="form-group col-md-12">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ teacher.email }}" required>
            <small id="" class="form-text text-muted">Provide teacher email</small>
        </div>

        <div class="form-group col-md-12">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            <small id="" class="form-text text-muted">Provide teacher password</small>
        </div>

        <div class="form-group col-md-12">
            <label for="designation">Designation</label>
            <input type="text" class="form-control" id="designation" value="{{ teacher.designation }}"name = "designation" required>
            <small id="" class="form-text text-muted">Provide teacher designation</small>
        </div>

        <div class="form-group col-md-12">
            <label for="department">Department</label>
            <select name="department" id="department" class="form-control select2" data-toggle = "select2" required>
                <option value="">Select a department</option>
                {% for department in departments %}
                <option value="{{ department.name }}" {% if teacher.department.name == department.name %} selected {% endif %}>{{ department.name }}</option>
                {% endfor %}
       
                            </select>
            <small id="" class="form-text text-muted">Provide a department</small>
        </div>

        <div class="form-group col-md-12">
            <label for="phone">Phone number</label>
            <input type="text" class="form-control" id="phone" name = "phone" value="{{ teacher.phone }}" required>
            <small id="" class="form-text text-muted">Provide teacher phone number</small>
        </div>

        <div class="form-group col-md-12">
            <label for="gender">Gender</label>
            <select name="gender" id="gender" class="form-control select2" data-toggle = "select2">
                <option value="">Select a gender</option>
                <option value="Male"{% if teacher.gender == 'Male' %} selected {% endif %}>Male</option>
                <option value="Female"{% if teacher.gender == 'Female' %} selected {% endif %}>Female</option>
                <option value="Others"{% if teacher.gender == 'Others' %} selected {% endif %}>Others</option>
            </select>
            <small id="" class="form-text text-muted">Provide teacher gender</small>
        </div>

        <div class="form-group col-md-12">
            <label for="blood_group">Blood group</label>
            <select name="blood_group" id="blood_group" class="form-control select2" data-toggle = "select2">
                <option value="">Select a blood group</option>
                <option value="a+" {% if teacher.blood_group == 'a+' %} selected {% endif %}>A+</option>
                <option value="a-" {% if teacher.blood_group == 'a-' %} selected {% endif %}>A-</option>
                <option value="b+" {% if teacher.blood_group == 'b+' %} selected {% endif %}>B+</option>
                <option value="b-" {% if teacher.blood_group == 'b-' %} selected {% endif %}>B-</option>
                <option value="ab+" {% if teacher.blood_group == 'ab+' %} selected {% endif %}>AB+</option>
                <option value="ab-" {% if teacher.blood_group == 'ab-' %} selected {% endif %}>AB-</option>
                <option value="o+" {% if teacher.blood_group == 'o+' %} selected {% endif %}>O+</option>
                <option value="o-" {% if teacher.blood_group == 'o-' %} selected {% endif %}>O-</option>
            </select>
            <small id="" class="form-text text-muted">Provide teacher blood group</small>
        </div>

        <div class="form-group col-md-12">
            <label>Facebook profile link</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="mdi mdi-facebook"></i></span>
                </div>
                <input type="text" class="form-control" value="{{ teacher.facebook_link }}" name="facebook_link">
            </div>
            <small id="" class="form-text text-muted">Facebook profile link</small>
        </div>

        <div class="form-group col-md-12">
            <label>Twitter profile link</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="mdi mdi-twitter"></i></span>
                </div>
                <input type="text" class="form-control" name="twitter_link" value="{{ teacher.twitter_link }}">
            </div>
            <small id="" class="form-text text-muted">Twitter profile link</small>
        </div>

        <div class="form-group col-md-12">
            <label>Linkedin profile link</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="mdi mdi-linkedin"></i></span>
                </div>
                <input type="text" class="form-control" name="linkedin_link" value="{{ teacher.linkedin_link }}">
            </div>
            <small id="" class="form-text text-muted">Linkedin profile link</small>
        </div>

        <div class="form-group col-md-12">
            <label for="phone">Address</label>
            <textarea class="form-control" id="address" name = "address" rows="5" required>{{ teacher.address }}</textarea>
            <small id="" class="form-text text-muted">Provide teacher address</small>
        </div>

        <div class="form-group col-md-12">
            <label for="about">About</label>
            <textarea class="form-control" id="about" name = "about" rows="5" required>{{ teacher.about }}</textarea>
            <small id="" class="form-text text-muted">Provide a small about</small>
        </div>

        <div class="form-group col-md-12">
          <label for="show_on_website">Show on website</label>
          <select name="show_on_website" id="show_on_website" class="form-control select2" data-toggle = "select2">
            <option value="1" {% if teacher.show_on_website == True %} selected {% endif %}>Show</option>
            <option value="0" {% if teacher.show_on_website == False %} selected {% endif %}>Do not need to show</option>
          </select>
          <small id="" class="form-text text-muted">Show this teacher on website</small>
        </div>

        <div class="form-group col-md-12">
            <label for="image_file">Upload image</label>
            <input type="file" class="form-control" id="image_file" name = "image_file">
        </div>

        <div class="form-group mt-2 col-md-12">
            <button class="btn btn-block btn-primary" type="submit">Update teacher</button>
        </div>
    </div>
</form>

<script>
$(document).ready(function () {
    initSelect2(['#department', '#gender', '#blood_group', '#show_on_website']);
});
$(".ajaxForm").validate({}); // Jquery form validation initialization
$(".ajaxForm").submit(function(e) {
    var form = $(this);
    ajaxSubmit(e, form, showAllTeachers);
});

// initCustomFileUploader();
</script>
