{% extends 'teacher/base.html' %}
{% load static %}

{% block head %} <title>Books | Command Day Secondary School</title> {% endblock %}


{% block body %}
                    <!-- start page title -->
<div class="row ">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="page-title">
                    <i class="mdi mdi-database title_icon"></i> Book
                </h4>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>
<!-- end page title -->

<div class="row ">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class = "book_content">
                        {% if books %}
                        <table  id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
    <thead>
        <tr style="background-color: #313a46; color: #ababab;" role="row">
            <th>No.</th>
            <th>Book name</th>
            <th>Author</th>
        </tr>
    </thead>
    <tbody>
            {% for book in books %} 
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ book.book_name }}</td>
                <td>{{ book.author }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% else %}
                      <div class="empty_box">
  <img class="mb-1" width="120px" src="{% static 'portal/assets/backend/images/empty_box.png' %}" />
  <br>
  <span class="">No data found</span>
</div>
{% endif %}
                </div> <!-- end table-responsive-->
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>

{% endblock %}
           