{% extends 'semiadmin/base.html' %}
{% load static %}

{% block head %} 
<title>Noticeboard | Command Day Secondary School</title> 
{% endblock %}


{% block body %}
                    <!--title-->
<div class="row ">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="page-title">
          <i class="mdi mdi-calendar-clock title_icon"></i> Noticeboard calendar          <button type="button" class="btn btn-outline-primary btn-rounded alignToTitle" onclick="rightModal('/portal/admin/noticeboard/create', 'Add new notice')"> <i class="mdi mdi-plus"></i> Add new notice</button>
        </h4>
      </div> <!-- end card body-->
    </div> <!-- end card -->
  </div><!-- end col-->
</div>

<div class="row">
  <div class="col-12 noticeboard_content">
    <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div id="calendar" class="notice-calendar-section"></div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<script>
$(document).ready(function() {
  refreshNoticeCalendar();
});

var showAllNotices = function () {
  var url = '/portal/admin/noticeboard/all';

  $.ajax({
    type : 'GET',
    url: url,
    success : function(response) {
      $('.noticeboard_content').html(response);
      refreshNoticeCalendar();
    }
  });
}

var refreshNoticeCalendar = function () {
  var url = '/portal/admin/noticeboard_calendar/event';
  $.ajax({
    type : 'GET',
    url: url,
    dataType: 'json',
    success : function(response) {

      var notice_calendar = [];
      for(let i = 0; i < response.length; i++) {

        var obj;
        obj  = {"id": response[i].id, "title" : response[i].notice_title, "start" : response[i].date, "end" : response[i].date};
        notice_calendar.push(obj);
      }

      $('#calendar').fullCalendar({
        disableDragging: true,
        events: notice_calendar,
        displayEventTime: false,
        eventClick : function(info) {
          rightModal('/portal/admin/noticeboard/edit/'+info.id, 'Edit notice')
        },
        dayClick: function(date) {
            rightModal('/portal/admin/noticeboard/create/'+date.format(), 'Add new notice')
        }
      });
    }
  });
}
</script>


<!-- <script>
function showNoticeEditPortion() {
  $('.notice-edit-portion').show();
  $('.notice-action-portion').hide();
}

function showNoticeDeleteModal() {
  $('#right-modal').modal('hide');
  confirmModal('/portal/admin/noticeboard/delete/4', showAllNotices);
}
</script> -->
{% endblock %}
                    