{% extends 'semiadmin/base.html' %}
{% load static %}

{% block head %} <title>Exam | Command Day Secondary School</title> {% endblock %}


{% block body %}
                    <!--title-->
<div class="row ">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="page-title">
          <i class="mdi mdi-grease-pencil title_icon"></i> Exam          <button type="button" class="btn btn-outline-primary btn-rounded alignToTitle" onclick="rightModal('/portal/admin/exam/manage_exam/create', 'Create exam')"> <i class="mdi mdi-plus"></i> Add exam</button>
        </h4>
      </div> <!-- end card body-->
    </div> <!-- end card -->
  </div><!-- end col-->
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body exam_content">
              <table id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
    <thead>
        <tr style="background-color: #313a46; color: #ababab;">
            <th>Srno.</th>
            <th>Exam name</th>
            <th>Exam session</th>
            <th>Exam term</th>
            <th>Starting date</th>
            <th>Ending date</th>
            <th>Next term begins</th>
            <th>Next term ends</th>
            <th>Comment</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
    	{% for exam in exams %}
		<tr>
        <td>{{ forloop.counter }}</td>
	    <td>{{ exam.exam_name }}</td>
	    <td>{{ exam.exam_session.session }}</td>
	    <td>{{ exam.exam_term }}</td>
	    <td>{{ exam.exam_starts }}</td>
	    <td>{{ exam.exam_ends }}</td>
	    <td>{{ exam.next_term_begins }}</td>
	    <td>{{ exam.next_term_ends }}</td>
	    <td>{{ exam.comment }}</td>
	    <td>
        <div class="dropdown text-center">
					<button type="button" class="btn btn-sm btn-icon btn-rounded btn-outline-secondary dropdown-btn dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></button>
					<div class="dropdown-menu dropdown-menu-right">
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item" onclick="rightModal('/portal/admin/exam/manage_exam/edit/{{ exam.pk }}', 'Update exam');">Edit</a>
						<!-- item-->
						<a href="javascript:void(0);" class="dropdown-item" onclick="confirmModal('/portal/admin/exam/manage_exam/delete/{{ exam.pk }}', showAllExams)">Delete</a>
					</div>
				</div>
	    </td>
	</tr>
    {% endfor %}
	</tbody>
</table>
            </div>
        </div>
    </div>
</div>

<script>
    var showAllExams = function () {
        var url = '/portal/admin/exam/manage_exam/all';

        $.ajax({
            type : 'GET',
            url: url,
            success : function(response) {
                $('.exam_content').html(response);
                initDataTable('basic-datatable');
            }
        });
    }
</script>
                    <!-- END PLACE PAGE CONTENT HERE -->
     {% endblock %}
