{% load static %}
      <div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div id="calendar"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="alert alert-warning" role="alert">
      <i class="dripicons-information mr-2"></i> This events will get appeared at <strong>User ( Backend ) Panel events</strong>.
    </div>
    <div class="card">
      <div class="card-body">
        {% if event_calendars %}
        <table  id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
          <thead>
            <tr style="background-color: #313a46; color: #ababab;" role="row">
                <th>No.</th>
              <th>Title</th>
              <th>Starting date</th>
              <th>Ending date</th>
            </tr>
          </thead>
          <tbody>
              {% for event_calendar in event_calendars %} 
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ event_calendar.title }}</td>
                <td>{{ event_calendar.starting_date }}</td>
                <td>{{ event_calendar.ending_date }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% else %}
          <div class="empty_box">
          <img class="mb-1" width="120px" src="{% static 'portal/assets/backend/images/empty_box.png' %}" />
          <br>
          <span class="">No data found</span>
          </div>
        {% endif %}
              </div>
    </div>
  </div>
</div>
