<table id="example" class="table table-striped" style="width:100%">
        <thead>
            <tr style="background-color: #313a46; color: #ababab;">
            {% for thead in theads %}
                <th>{{ thead }}</th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for tbody in tbodys %}
            <tr>
                <td></td>
                {% for tb in tbody %}
                    {% if forloop.last %}
                        <td>
                        <div class="dropdown text-center">
                            <button type="button" class="btn btn-sm btn-icon btn-rounded btn-outline-secondary dropdown-btn dropdown-toggle arrow-none card-drop" data-toggle="dropdown" aria-expanded="true"><i class="mdi mdi-dots-vertical"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; transform: translate3d(-106px, 33px, 0px); top: 0px; left: 0px; will-change: transform;">
                            {% for more in mores %}
                            <a href="javascript:void(0);" class="dropdown-item" onclick="rightModal('{{ more.1 }}', 'Command Day Secondary School')">{{ more.0 }}</a>
                            {% endfor %}
                            </div>
                        </div>
                        </td>

                      
                    {% else %}
                        <td>{{ tb }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>

    </table>


<!-- <script>
$(document).ready(function () {
  $('#example').DataTable();
});
</script> -->


<script type="text/javascript">
initDataTable('example');
</script>
