{% extends 'semiadmin/base.html' %}
{% load static %}

{% block head %} 
<title>Syllabus | Command Day Secondary School</title> 
{% endblock %}


{% block body %}
                    <!--title-->
<div class="row ">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="page-title">
                    <i class="mdi mdi-chart-timeline title_icon"></i> Syllabus                    <button type="button" class="btn btn-outline-primary btn-rounded alignToTitle" onclick="rightModal('/portal/admin/syllabus/create', 'Create syllabus')"> <i class="mdi mdi-plus"></i> Add syllabus</button>
                </h4>
            </div> <!-- end card body-->
        </div> <!-- end card -->
    </div><!-- end col-->
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-1 mb-1"></div>
                    <div class="col-md-4 mb-1">
                        <select name="class" id="class_id" class="form-control select2" data-toggle = "select2" onchange="classWiseSection(this.value)" required>
                            <option value="">Select a class</option>
                            {% for class in the_classes %}
                                <option value="{{ class.the_class }}">{{ class.the_class }}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="col-md-4 mb-1">
                    <select name="section" id="section_id" class="form-control select2" data-toggle = "select2" required>
                        <option value="">Select section</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-block btn-secondary" onclick="filter_syllabus()" >Filter</button>
                </div>
            </div>
            <div class="syllabus_content">
                    <div class="empty_box">
  <img class="mb-1" width="120px" src="https://cdssenugu.org/portal/assets/backend/images/empty_box.png" />
  <br>
  <span class="">No data found</span>
</div>
            </div>
        </div>
    </div>
</div>
</div>
<script>

$('document').ready(function(){
    initSelect2(['#class_id', '#section_id']);
});

function classWiseSection(classId) {
    $.ajax({
        url: "/portal/admin/student/other/student_section_no/"+classId,
        success: function(response){
            $('#section_id').html(response);
        }
    });
}

function filter_syllabus(){
    var class_id = $('#class_id').val();
    var section_id = $('#section_id').val();
    if(class_id != "" && section_id!= ""){
        showAllSyllabuses();
    }else{
        toastr.error('Please select a class and section');
    }
}

var showAllSyllabuses = function () {
    var class_id = $('#class_id').val();
    var section_id = $('#section_id').val();
    if(class_id != "" && section_id!= ""){
        $.ajax({
            url: '/portal/admin/syllabus/filter/'+class_id+'/'+section_id,
            success: function(response){
                $('.syllabus_content').html(response);
                initDataTable('basic-datatable');
            }
        });
    }
}
</script>
{% endblock %}
