{% extends 'teacher/base.html' %}
{% load static %}

{% block head %} <title>Event calendar | Command Day Secondary School</title> {% endblock %}


{% block body %}
<div class="row ">
  <div class="col-xl-12">
    <div class="card">
      <div class="card-body">
        <h4 class="page-title">
          <i class="mdi mdi-calendar-clock title_icon"></i> Event calendar
        </h4>
      </div> <!-- end card body-->
    </div> <!-- end card -->
  </div><!-- end col-->
</div>

<div class="row">
   <div class="col-12 event_calendar_content">
      <div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-body">
				<div id="calendar"></div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="alert alert-warning" role="alert">
			<i class="dripicons-information mr-2"></i> This events will get appeared at <strong>User ( Backend ) Panel events</strong>.
		</div>
		<div class="card">
			<div class="card-body">
        {% if event_calendars %}
        <table  id="basic-datatable" class="table table-striped dt-responsive nowrap" width="100%">
          <thead>
            <tr style="background-color: #313a46; color: #ababab;" role="row">
              <th>No.</th>
              <th>Title</th>
              <th>Starting date</th>
              <th>Ending date</th>
            </tr>
          </thead>
          <tbody>
              {% for event_calendar in event_calendars %} 
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ event_calendar.title }}</td>
                <td>{{ event_calendar.starting_date }}</td>
                <td>{{ event_calendar.ending_date }}</td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% else %}
          <div class="empty_box">
          <img class="mb-1" width="120px" src="{% static 'portal/assets/backend/images/empty_box.png' %}" />
          <br>
          <span class="">No data found</span>
          </div>
        {% endif %}
							</div>
		</div>
	</div>
</div>
   </div>
</div>

<script>
$(document).ready(function() {
   refreshEventCalendar();
});

var showAllEvents = function () {
   var url = '/portal/teacher/event_calendar/all';

   $.ajax({
      type : 'GET',
      url: url,
      success : function(response) {
         $('.event_calendar_content').html(response);
         initDataTable("basic-datatable");
         refreshEventCalendar();
      }
   });
}

var refreshEventCalendar = function () {
   var url = '/portal/teacher/event_calendar/event';
   $.ajax({
       type : 'GET',
       url: url,
       dataType: 'json',
       success : function(response) {

           var event_calendar = [];
           for(let i = 0; i < response.length; i++) {

               var obj;
               obj  = {"title" : response[i].title, "start" : response[i].starting_date, "end" : response[i].ending_date};
               event_calendar.push(obj);
           }

           $('#calendar').fullCalendar({
               disableDragging: true,
               events: event_calendar,
               displayEventTime: false
           });
       }
   });
}
</script>

{% endblock %}