<form method="POST" class="d-block ajaxForm" action="/portal/admin/principal_subject_code/create" novalidate="novalidate">
    {% csrf_token %}
    <div class="form-row">

        <div class="form-group col-md-12">
            <label for="category">Category <em style="font-color:#ff0000;">*</em></label>
            <select name="category" id="category" class="form-control select2" style="width:100%;" data-validate="required" data-message-required="Value required" required="">
                <option value="">Select category</option>
                <option value="JSS">JSS</option>
                <option value="SSS">SSS</option>
            </select>
            <small id="category_help" class="form-text text-muted">Provide category</small>
        </div>        

        <div class="form-group col-md-12">
            <label for="subject_code">Subject code <em style="font-color:#ff0000;">*</em></label>
            <input type="text" class="form-control" name="subject_code" required="">
            <small id="code_number_help" class="form-text text-muted">Provide subject code</small>
        </div>  

        <div class="form-group col-md-12">
            <label for="subject">Subject <em style="font-color:#ff0000;">*</em></label>
            <select name="subject" id="subject" class="form-control select2" style="width:100%;" data-validate="required" data-message-required="Value required" required="">
                <option value="">Select subject</option>
                {% for subject in subjects %}
                    <option value="{{ subject.name }}">{{ subject.name }}</option>
                {% endfor %} 
            </select>
            <small id="subject_help" class="form-text text-muted">Provide subject</small>
        </div>

        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">Create subject code</button>
        </div>
    </div>
</form>


<script>
$(".ajaxForm").validate({}); // Jquery form validation initialization
$(".ajaxForm").submit(function(e) {
  var form = $(this);
  ajaxSubmit(e, form, showAllSubjectCodes);
});

$(document).ready(function () {
  initSelect2(['#category', '#subject']);
});
</script>
